html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: 'Segoe UI';
    color: white;
    z-index: -2;
}

.loading {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    background-color: #010e3a;
    z-index: 20;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.loading > div {
    position: relative;
    margin: 0 auto;
    top: 50%;
    text-align: center;
    font-size: x-large;
    word-spacing: 5px;
}

.progress-bar {
    height: 15px;
    width: 20%;
    border: 3px solid #7952d8;
    /*border-radius: 15px;*/
}

    .progress-bar .fill {
        position: absolute;
        background-color: white;
        width: 100%;
        height: 15px;
        /*border-radius: 15px;*/
        animation: progress 2s normal linear;
    }

@keyframes progress {
    0% {
        width: 0%;
    }

    25% {
        width: 50%;
    }

    50% {
        width: 75%;
    }

    75% {
        width: 85%;
    }

    100% {
        width: 100%;
    }
}

.desktop {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
}

.content {
    width: 100%;
    height: 94%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #010e3a;
    background-image: url("../visual_aids/bgLogo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.desktop-container {
    width: 100%;
    height: 100%;
    display: flex;
}

.desktop-flex {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
}

    .desktop-flex button {
        background-color: transparent;
        font-family: 'Segoe UI';
        color: white;
        cursor: pointer;
        border: 0px;
        border-radius: 5px;
    }

        .desktop-flex button:hover {
            background-color: #243260;
        }

.flex-app {
    margin: 10px;
    display: flex;
    width: 80px;
    height: fit-content;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

    .flex-app > p {
        margin: 0;
        text-align: center;
    }

.flex-app-icon {
    background-repeat: no-repeat;
    background-size: contain;
    width: 80px;
    height: 80px;
}

#sticky-note {
    width: fit-content;
    height: fit-content;
    background-color: #a6c7f2;
}

#note-top {
    width: 100%;
    height: 10px;
    background-color: #8fb8ed;
}

#user-guide {
    width: 100%;
    height: fit-content;
    padding: 10px;
    box-sizing: border-box;
    color: black;
    line-height: 1;
}

    #user-guide ul {
        padding: 20px;
        margin: 0;
    }

        #user-guide ul li {
            margin: 5px;
        }

.note-icon {
    height: 20px;
    width: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 160%;
    background-position: center;
}

.popup {
    z-index: -1;
    border-radius: 8px;
    background-color: #343434;
    position: absolute;
    opacity: 95%;
    padding: 0;
    width: 75%;
    bottom: -130%;
    transition: bottom .5s ease;
    border: 1px solid dimgray;
}

.top-bar {
    padding: 20px;
    width: 100%;
    height: 94%;
    box-sizing: border-box;
}

.bottom-bar {
    width: 100%;
    height: 6%;
    box-sizing: border-box;
    padding: 0 20px 0 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    background-color: #1f1f1f;
}

    .bottom-bar img {
        height: 30px;
        aspect-ratio: 1/1;
        display: block;
        margin-right: 10px;
    }

    .bottom-bar p {
        font-size: smaller;
    }

    .bottom-bar button {
        border-radius: 5px;
        height: 30px;
        aspect-ratio: 1/1;
        display: block;
        border: 0;
        padding: 0;
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("../visual_aids/powerIcon.png");
    }

        .bottom-bar button:hover {
            background-color: #606060;
        }

.window {
    opacity: 100%;
    transition: none;
    position: absolute;
    height: 50%;
    min-height: max-content;
    display: flex;
    flex-direction: column;
}

@keyframes window-anim {
    from {
        transform: scale(0.1);
        bottom: -100%;
    }

    to {
        transform: scale(1);
        bottom: 15px;
    }
}

#start-panel {
    z-index: 10;
    left: 10px;
    max-width: 670px;
}

.window-top-bar {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    cursor: grab;
    background-color: #2c2c2c;
    border-radius: 8px 8px 0 0;
}

    .window-top-bar .panel-icon {
        height: 50px;
        aspect-ratio: 1/1;
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .window-top-bar p {
        margin: 0;
    }

    .window-top-bar .window-title,
    .window-top-bar .close {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
    }

        .window-top-bar .close button {
            height: 50px;
            aspect-ratio: 1/1;
            background-image: url("../visual_aids/closeIcon.png");
            background-color: transparent;
            background-repeat: no-repeat;
            background-size: contain;
            border: none;
            border-radius: 6px;
            cursor: pointer;
        }

            .window-top-bar .close button:hover {
                background-color: #ff3d3d;
            }

.window-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    flex-grow: 1;
}

.folder {
    flex-wrap: wrap;
    flex-direction: column;
}

.folder-top-bar {
    width: 100%;
    height: 10%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid grey;
}

.directory-display {
    padding-left: 10px;
    margin: 0;
}

.folder-btm-bar {
    width: 100%;
    height: auto;
    display: flex;
    flex-grow: 1;
    border: 1px solid grey;
    border-top: 0;
}

.folder-side-nav {
    width: 200px;
    height: 100%;
    border-right: 1px solid grey;
}

    .folder-side-nav a {
        display: block;
        padding: 10px;
        text-decoration: none;
        line-height: 1.5;
        font-family: 'Segoe UI';
        color: white;
        border-radius: 3px;
    }

        .folder-side-nav a:hover {
            background-color: #606060;
        }

        .folder-side-nav a.active {
            background-color: #4f4e4e;
        }

.folder-content {
    height: 100%;
    flex-grow: 1;
    padding: 10px;
    box-sizing: border-box;
}

.tab-pane {
    display: none;
}

    .tab-pane.active {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: flex-start;
        flex-direction: row;
    }

    .tab-pane button {
        background-color: transparent;
        font-family: 'Segoe UI';
        color: white;
        cursor: pointer;
        border: 0px;
        border-radius: 5px;
    }

        .tab-pane button:hover {
            background-color: #606060;
        }

        .tab-pane button:focus {
            border: 1px solid dimgrey;
        }

.open-popup {
    bottom: 15px;
    left: 10px;
}

.open-window {
    bottom: 15px;
    animation: window-anim .3s ease;
}

#controller-app {
    line-height: 16px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

    #controller-app img {
        width: 80px;
        height: 80px;
        display: block;
        float: left;
        margin-right: 30px;
    }

#user-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.navBar {
    z-index: 11;
    width: 100%;
    height: 6%;
    margin: 0;
    padding: 0 10px 0 10px;
    background-color: #2c2c2c;
    position: absolute;
    bottom: 0;
    display: flex;
    box-sizing: border-box;
}

.apps-container {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
}

.time-date {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-evenly;
    line-height: 0;
    box-sizing: border-box;
    font-size: 1.5vh;
}

    .time-date p {
        margin: 0;
    }

.apps-container button {
    border: 0;
    border-radius: 5px;
    background-color: #2c2c2c;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    float: left;
    height: 80%;
    aspect-ratio: 1/1;
}

    .apps-container button:hover {
        background-color: #606060;
    }

    .apps-container button.active {
        background-color: #4f4e4e;
    }

.start-btn {
    background-image: url("../visual_aids/startIcon.png");
}

.skills-btn {
    background-image: url("../visual_aids/skillsIcon.png");
}

.exp-btn {
    background-image: url("../visual_aids/expIcon.png");
}

.edu-btn {
    background-image: url("../visual_aids/eduIcon.png");
}

.cert-btn {
    background-image: url("../visual_aids/certIcon.png");
}

.contact-btn {
    background-image: url("../visual_aids/contactIcon.png");
}

.hobby-btn {
    background-image: url("../visual_aids/hobbyIcon.png");
}

.unity-logo {
    background-image: url("../visual_aids/unityLogo.png");
}

.csharp-logo {
    background-image: url("../visual_aids/csharpLogo.png");
}

.cpp-logo {
    background-image: url("../visual_aids/cppLogo.png");
}

.html-logo {
    background-image: url("../visual_aids/htmlLogo.png");
}

.css-logo {
    background-image: url("../visual_aids/cssLogo.png");
}

.js-logo {
    background-image: url("../visual_aids/jsLogo.png");
}

.vs-logo {
    background-image: url("../visual_aids/vsLogo.png");
}

.vsc-logo {
    background-image: url("../visual_aids/vscLogo.png");
}

.gitlab-logo {
    background-image: url("../visual_aids/gitlabLogo.png");
}

.github-logo {
    background-image: url("../visual_aids/githubLogo.png");
}

.ps-logo {
    background-image: url("../visual_aids/psLogo.png");
}

.au-logo {
    background-image: url("../visual_aids/auLogo.png");
}

.maya-logo {
    background-image: url("../visual_aids/mayaLogo.png");
}

.procreate-logo {
    background-image: url("../visual_aids/procreateLogo.png");
}

.azure-logo {
    background-image: url("../visual_aids/azureLogo.png");
}

.trello-logo {
    background-image: url("../visual_aids/trelloLogo.png");
}

.google-logo {
    background-image: url("../visual_aids/googleLogo.png");
}

.ms-logo {
    background-image: url("../visual_aids/msLogo.png");
}
