
.vs/Portfolio/v17/.suo
.vs/Portfolio/FileContentIndex/read.lock
.vs/Portfolio/FileContentIndex/a57e4f60-1187-4225-a98c-80b0e5428faa.vsidx
.vs/Portfolio/FileContentIndex/9196347c-3fad-417e-b60a-57595ff0f365.vsidx
.vs/Portfolio/FileContentIndex/57584225-e87a-42ec-a6fd-cca6e41ad202.vsidx
.vs/Portfolio/config/applicationhost.config
.vs/Portfolio/FileContentIndex/dde6fc37-1a06-49df-a857-5fbf0c4fc49f.vsidx
*.vsidx
*.sqlite
.vs/VSWorkspaceState.json
